.my-node-enter {
  opacity: 0;
  transform: scale(0.9);
}
.my-node-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 200ms,
    transform 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 200ms,
    transform 200ms;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}
